---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white font-bold text-5xl justify-center flex-row">Hi, I'm Nicolás Firpo <Badge >Disponible</Badge></h1>
		<h2>Front-End Developer Exploring Back-End Technologies | Passionate About Design, Development, and Innovation </h2>
		</section>
	</main>
</Layout>

