---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Skills from '../components/Skills.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import CodeIcon from '../components/icons/Code.astro';

---

<Layout title="Portfolio Nicolás Firpo - Web Developer & Programmer" description="Hire Nicolás Firpo for web and mobile app development. Experienced web developer with a passion for creating functional and responsive digital experiences.">
	<main class="px-4 md:px-2">
		
		<SectionContainer class="pt-36 ">
		
			<div class="flex flex-col md:flex-row gap-2 md:gap-4 justify-center items-center mx-4">
			
				<div class="flex-col md:max-w-3xl text-center md:text-start">

					<h1 class="text-white font-bold text-3xl md:text-4xl lg:text-5xl flex flex-col md:flex-row gap-x-2 lg:gap-x-4 pb-5">Hi, I'm <span class="bg-gradient-to-r from-blue-300 via-purple-300 to-purple-600 bg-clip-text text-transparent">Nicolás Firpo </span><a href="https://www.linkedin.com/in/nicolasfirpo/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge >Available for Work</Badge></a></h1>
				
					<h2 class="text-xl opacity-80 text-wrap-pretty">Front-End Developer Exploring Back-End Technologies | Passionate About Design, Development, and Innovation </h2>
				
					<div>
					
						<ul class="flex gap-4 mt-4 flex-wrap justify-center md:justify-start">
							<li>
								<SocialPill href="https://www.linkedin.com/in/nicolasfirpo/" target="_blank" rel="noopener"><LinkedinIcon class="size-4 md:size-6" />
								LinkedIn
								</SocialPill>
						
							</li>
							<li>
								<SocialPill href="https://github.com/niknef" target="_blank" rel="noopener"><GithubIcon class="size-4 md:size-6" />Git Hub</a></SocialPill>
								
							</li>
							<li>
								<SocialPill href="mailto:nicolasfirpodev@gmail.com" target="_blank" rel="noopener"><MailIcon class="size-4 md:size-6" />Nicolasfirpodev@gmail.com</a></SocialPill>
								
							</li>
						</ul>
					</div>
				</div>
			
				<div class="flex justify-center my-6 md:my-0">
					<img src="/images/profilenicolasfirpo.jpg" alt="Foto Nicolas Firpo" class="rounded-full size-1/2 md:size-fit lg:size-auto">
				</div>
		</div>

		
		</SectionContainer>
		<SectionContainer class="lg:3/4 flex flex-col justify-center">
				<About />
			
		</SectionContainer>

		<SectionContainer id="skills" class="lg:w-3/4 justify-center my-0">
				<Skills />
			
		</SectionContainer>
		<SectionContainer id="proyects" class="lg:w-3/4 justify-center">
			<h2 class="text-white/80 text-4xl font-light text-center mb-12 flex gap-x-3 items-center"><CodeIcon class="size-10" stroke-width="1" />Projects</h2>
				<Projects />
			
		</SectionContainer>
		<SectionContainer id="contact" class="rounded-md md:w-full lg:w-full justify-center">

				<Contact />

		</SectionContainer>
	</main>
</Layout>

