---
import DownloadIcon from "../components/icons/Download.astro"
---
    <div class="mx-auto px-4 lg:flex lg:items-center mt-56 mb-30">
      <div class="mx-auto max-w-3xl text-center">
        <h2
          class="bg-gradient-to-r from-blue-300 via-purple-300 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
          About Me
        </h2>
  
        <p class="mx-auto mt-4 text-warp-pretty opacity-80">
            Hello! I'm Nicolás Firpo, a web developer and designer from Argentina. I'm currently studying Web Development and Design at Escuela Da Vinci, focusing on <span class="text-purple-400">front-end technologies</span> and exploring <span class="text-purple-400">back-end development</span>.
          </p>
          <p class="mx-auto mt-4 text-warp-pretty opacity-80">
            As the founder of <span class="text-purple-400">Mundo Urbano</span>, a retail store for clothing, footwear, and accessories, I've gained valuable experience in <span class="text-purple-400">business operations, customer service, and digital marketing</span>.
          </p>
          <p class="mx-auto mt-4 text-warp-pretty opacity-80">  
            I thrive on <span class="text-purple-400">creativity and innovation</span>, always eager to learn and grow. Whether designing <span class="text-purple-400">user-friendly interfaces</span>, building <span class="text-purple-400">responsive websites</span>, or exploring <span class="text-purple-400">new tech trends</span>, I'm passionate about problem-solving.
          </p>
          <p class="mx-auto mt-4 text-warp-pretty opacity-80">
            I'm excited to take on new challenges and <span class="text-purple-400">collaborate with others</span> who share my enthusiasm. Let's create something amazing together!
          </p>
  
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="flex justify-center items-center gap-2 w-full rounded border border-purple-600 bg-purple-600 px-6 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto shadow-md shadow-purple-500/50"
            href="#"
          ><DownloadIcon class="size-4 " />
            Download Cv
          </a>
        </div>
      </div>
    </div>
