---
import MailIcon from './icons/Mail.astro';
import ContactForm from './ContactForm.astro';
---
<section class="w-full bg-purple-500/15 mt-36">
  
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center bg-gradient-to-r from-purple-300 via-purple-600 to-blue-600 bg-clip-text text-transparent">Connect with me</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-white sm:text-xl">I'm always open to new opportunities and connections! Whether you're interested in collaborating on a project, have a question, or just want to say hello, feel free to reach out. <span class="text-purple-500/80">Let's connect and create something great together!</span></p>
      
      <ContactForm />
      
  </div>
</section>