---
import MailIcon from './icons/Mail.astro';
---

<div class="flex flex-row justify-around items-center">
    <div class="flex flex-col">
        <h2 class="bg-gradient-to-r from-purple-300 via-purple-600 to-blue-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">Connect with me</h2>
        <p class="text-xl opacity-80 text-wrap-pretty mt-4"> Let’s create something amazing together!</p>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
        <a
          class="flex justify-center items-center gap-2 h-12 rounded border border-purple-600 bg-purple-600 px-6 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto shadow-md shadow-purple-500/50"
          href="mailto:nicolasfirpodev@gmail.com" target="_blank" rel="noopener"
        >
            <MailIcon class="size-4 " />
          Contact Me
        </a>
      </div>
</div>