---
import SectionContainer from "./SectionContainer.astro"
import GithubIcon from "./icons/Github.astro"
import LinkedinIcon from "./icons/Linkedin.astro"
---
<footer class="w-11/12 lg:w-3/5 bg-purple-600/80 rounded-lg shadow m-4 dark:bg-gray-800 mx-auto mt-20">
    <div class="flex flex-col mx-auto max-w-screen-xl p-4 md:flex-row justify-center items-center md:justify-between">
      
        <span class="text-sm text-white opacity-80 text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">Nicolas Firpo</a>. All Rights Reserved.
        </span>

    <ul class="flex flex-row justify-center gap-6 mt-3 text-sm font-medium text-white opacity-80 dark:text-gray-400 sm:mt-0">
        <li><a href="https://github.com/niknef" target="_blank" rel="noopener" ><GithubIcon class="size-6"/><span class="hidden" >Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/nicolasfirpo/" target="_blank" rel="noopener"><LinkedinIcon class="size-6"/><span class="hidden" >LinkedIn</span></a></li>
    </ul>

    <ul class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium text-white opacity-80 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/" class="hover:underline me-4 md:me-6 text-white">About Me</a>
        </li>
        <li>
            <a href="#Skills" class="hover:underline me-4 md:me-6 text-white">Skills</a>
        </li>
        <li>
            <a href="#proyects" class="hover:underline me-4 md:me-6 text-white">Proyects</a>
        </li>
        <li>
            <a href="#contact" class="hover:underline text-white">Contact</a>
        </li>
    </ul>
    </div>
</footer>

