<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <div class="logo"></div>

    <nav>
        <ul class="flex flex-row gap-x-10 opacity-80">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Proyects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
   
    .logo {
        width: 100px;
        height: 30px;
        background-color: white;
    }

    