<header class="flex justify-center items-center py-3 w-full xl:w-[1120px] mx-auto mt-6">
    
    <nav>
        <ul class="flex flex-row gap-x-10 opacity-80">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Proyects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
