---
import HtmlIcon from './icons/Html.astro';
import CssIcon from './icons/Css.astro';
import JsIcon from './icons/Javascript.astro';
import ReactIcon from './icons/React.astro';
import NodeIcon from './icons/Node.astro';
import Vue from './icons/Vue.astro';
import GitIcon from './icons/Git.astro';
import FigmaIcon from './icons/Figma.astro';
import PhotoshopIcon from './icons/Photoshop.astro';
import IllustratorIcon from './icons/Illustrator.astro';
import PythonIcon from './icons/Python.astro';
import Boostrap from './icons/Boostrap.astro';
import LinuxIcon from './icons/Linux.astro';
---
    <hr
    class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-purple-500 to-transparent opacity-25 dark:via-neutral-400" />

    <h2 class="text-white/80 text-4xl font-light text-center mb-10 flex justify-center gap-x-3 items-center">Skills</h2>

    <div class="flex flex-wrap justify-center gap-6 mb-24">
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <HtmlIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">HTML</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <CssIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">CSS</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <JsIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">JavaScript</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <ReactIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">React</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <NodeIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Node.js</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <Vue class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Vue.js</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <GitIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Git</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
            <PythonIcon class="size-12"/>
            <h3 class="text-center font-semibold opacity-80 ">Python</h3>
          </div>
          <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
            <Boostrap class="size-12"/>
            <h3 class="text-center font-semibold opacity-80 ">Boostrap</h3>
          </div>
          <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
            <LinuxIcon class="size-12"/>
            <h3 class="text-center font-semibold opacity-80 ">Linux</h3>
          </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <FigmaIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Figma</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <PhotoshopIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Photoshop</h3>
        </div>
        <div class="flex flex-row items-center aling-center justify-around border p-3 rounded-md border-purple-600 bg-purple-600/35 w-44 hover:shadow-lg hover:shadow-purple-500/50">
          <IllustratorIcon class="size-12"/>
          <h3 class="text-center font-semibold opacity-80 ">Illustrator</h3>
        </div>
        
          
      </div>

      <hr
    class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-purple-500 to-transparent opacity-25 dark:via-neutral-400" />
